.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-background-image {
  background-image: url("./images/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.nav-link {
  text-shadow: 1px 1px black;
  color: gold;
  font-weight: bold;
}

.nav-link:hover {
  color: gold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 background-color: darkgreen !important;
 color: gold !important;
 border-right: 1px solid gold;
 border-bottom: 1px solid gold;
 border-left: 1px solid gold;
 border-radius: 0px;
}

.nav-item {
  background-color: darkgreen;
}

.title {
  color: white;
  font-family: 'Michroma', sans-serif;
  text-shadow: 2px 1px black;
}

.loginContainer {
  text-shadow: 1px 1px black;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 10px 20px -10px;
  margin-bottom: 5px;
  min-width: 75%;
}

.signupContainer {
  text-shadow: 1px 1px black;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 10px 20px -10px;
  margin-top: 5px;
  min-width: 75%;
}

.descAppOne {
  text-shadow: 1px 1px black;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 10px 20px -10px;
  max-width: 85%;
}

.descAppTwo {
  text-shadow: 1px 1px black;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 10px 20px -10px;
  max-width: 85%;
}

.loginBtn {
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow:rgb(0, 0, 0) 0px 10px 20px -10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .loginContainer {
    min-width: 75%;
  }
  .signupContainer {
    min-width: 75%;
  }
}

@media (min-width: 1400px) {
  .loginContainer {
    min-width: 40%;
  }
  .signupContainer {
    min-width: 40%;
  }
}